
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','sans-serif';
}

:root{
    --primary-color: #b2d2ec;
    --primary-shade: #c78c33;
    --secondary-color: #000000ee;
    --secondary-shade: #1ad71a;
    --red-color: #0083d4;
    --red-shade: #de381b;
    --accent-color: #eaea12;

}

ul li{
    list-style: none;
}

a{
        text-decoration: none;
}

header{
    background: rgb(236, 82, 146);
    background: linear-gradient(90deg, rgb(134, 128, 240) 0%, rgb(73, 73, 170) 35%,rgba(0,212,255,1)100%);
    background: linear-gradient(to right, #835d5d, #b15858, #cb8700f0);
    color: var(--primary-color);
}
.nav-bar{
    padding: 30px 0;
}

span{
    color: var(--red-color);
}

ul li a{
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 18px;
    cursor: pointer;
    position: relative;
}
ul li a::before{
    content: "";
    width: 0;
    position: absolute;
    bottom: --5px;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.6s ease;
}
ul li a:hover::before{
width: 100%;
}
/* button */
.btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--red-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding:0% 5px;
    font-weight: 500;
}
.btn:hover{
    background-color: var(--red-shade);
    color: var(--primary-shade);
    border: 2px solid var(--red-color);
}

.content{
    height: 90vh;
}
.layout{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.uppercase{
    text-transform: uppercase;
}
.f-w-500{
    font-weight: 500;
}
.f-w-700{
    font-weight: 700;
}
.f-w-600{
    font-weight: 600;
}
.letter-spacing2{
    letter-spacing: 2px;
}
.btn2{
    width: 140px;
}
.flex2{
flex:2;
}
.my-t-10{
    margin-top: 10px;
}
.my-t-20{
    margin-top: 20px;
}